<div class="content">
  <div class="description">
  <p>Bio-Dog é uma interface realizada com o framework web Angular. Através dela é possível obter imagens das raças de diversos cães, e avaliar a imagem positivamente ou negativamente. Neste caso foi utilizado a the dog api para obter recursos através de sua API. Foram consumidos três recursos, o primeiro foi para acessar todas as raças, segundo utilizado para buscar a imagem através da raça escolhida, e o terceiro foi na avaliação da imagem. </p>
  </div>
</div>
