<body>
  <header class="header">
    <div>
      <h1 id="tittle">BIO-DOG</h1>
    </div>
    <div class="box">
      <p>
        <a class="text" routerLink="home" routerLinkActive="ativo">VOLTAR</a>
      </p>
      <p>
        <a class="text" routerLink="about" routerLinkActive="ativo">SOBRE</a>
      </p>
    </div>
  </header>

  <!--Utilizando router-outlet para exibir o conteúdo através do path passado no RouterModule-->
  <router-outlet></router-outlet>

  <footer class="description-footer">
    <p id="text-footer">
      Realizado por Caio Pereira
    </p>
  </footer>
</body>
